<div class="row full-width-row">
  <header>
    <div class="large-8 columns collapse">
      <h6 class="title">Planeamento de Amostras</h6>
    </div>
    <div class="large-8 columns collapse">
      <a href="#" class="button right">Adicionar evento</a>
    </div>
  </header>
</div>
