

<div ng-controller="RegrasFormatacaoCRTL">
    <div ui-grid="gridOptionsRegrasformatacao" ui-grid-selection ui-grid-autoResize class="grid"></div>
{{ render(controller('AppBundle:TRegrasformatacao:new')) }}
</div>
